version: "3.9"
services:
  build-deps-kr-ubuntu:
    image: "kokkos-resilience-deps:${DOCKER_IMAGE_TAG}"
    build:
      context: .
      dockerfile: ci/ubuntu20.04-gcc11-x64.dockerfile
    volumes:
      - .:/home/kruser/kokkos-resilience-src
    user: kruser
    working_dir: /home/kruser
    command: /bin/bash "/home/kruser/kokkos-resilience-src/ci/build-and-test.sh"
